<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <img src="img/mail.jpg">
        </div><!--/span-->
        <div class="span4">
            <h4>Glen Park<br>Parent Teacher Organization</h4>
            <p>151 Lippard Avenue<br>
            San Francisco, CA 94131</p>
            <p><a href="tel:+14154694713">(415) 469-4713</a></p>
        </div><!--/span-->
        <div class="span2">
            <img src="img/list.gif">
        </div><!--/span-->
        <div class="span4">
            <h4>E-Mail</h4>
            <p><a href="mailto:GlenParkPTO@gmail.com">GlenParkPTO@gmail.com</a></p>

            <h4>Mailing List</h4>
            <p><a href="mailto:glenparkpto@googlegroups.com">glenparkpto@googlegroups.com</a></p>

            <h4>Archives</h4>
            <p><a href="https://groups.google.com/d/forum/glenparkpto">https://groups.google.com/d/forum/glenparkpto</a></p>
        </div><!--/span-->
    </div><!--/row-->
</div>